<strong>Olá, {{ student }}</strong>
<p>Parabéns pela sua matrícula na academia :)</p>
<p>Dá uma conferida nas informações do seu plano:</p>
<p>
  <strong>Plano: </strong> {{ title }} <br />
  <strong>Data de início: </strong> {{ start }} <br />
  <strong>Data do término: </strong> {{ end }} <br />
  <strong>Preço: </strong> R$ {{ price }} <br />
</p>
